<a href="https://colab.research.google.com/github/ramya792/python_colab/blob/main/Python_study_hour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=10
if(n%2==0):
    print("even")
else:
    print("odd")

even

In [2]:
x=24
y="ramya"
print(x,y)

24 ramya

In [3]:
a=3,7,15,19
a=int(input())
if(a==3):
    print("kiet")
elif(a==7):
    print("kietw")

elif(a==15):
    print("kiet+")
else:
    print("womens")

5
womens

In [4]:
a="Ramya, chinni"
X=a.capitalize()
print(X)

Ramya, chinni

In [5]:
a="Hello world"
X=a.casefold()
print(X)

hello world

In [6]:
a='Banana'
X=a.center(20)
print(X)

       Banana

In [7]:
a="i love apple,apple are my favourite"
X=a.count("apple")
print(X)

2

In [8]:
a="my name is Ramya"
X=a.encode()
print(X)

b'my name is Ramya'

In [9]:
a="Hello world"
print(a[:5])
print(a[-4])
print(a[8])
print(a[6:])

Hello
o
r
world

In [10]:
A=int(input())
B=int(input())
C=(A+B)
print(C)

5
7
12

In [11]:
N=int(input())
if (N%5==0):
    print("YES")
else:
    print("NO")

8
NO

In [12]:
N=int(input())
if(N%6==0):
    print("fizz")
elif(N%3==0):
    print("buzz")
else:
    print("fizz buzz")

6
fizz

In [13]:
N=int(input())
if(N%4==0):
    print("fizz")
else:
    print("buzz")

0
fizz

In [ ]:
A=int(input())
B=int(input())
C=A+B
print("sum is",C)
C=A-B
print("difference is",C)
C=A*B
print("product is",C)
C=A%B
print("percentage is",C)
C=A/B
print("coefficient is",C)

In [ ]:
A=int(input())
if(A>18):
    print("eligible for vote")
else:
    print("not eligible for vote")

In [ ]:
a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
    print("a is bigger number")
elif(b>a and b>c):
    print("b is bigger number")
else:
    print("c is bigger number")

In [ ]:
A=int(input())
if(A>0):
    print("positive")
else:
    print(" nagative")

In [ ]:
QA=int(input())
if(A>0):
    print("positive")
else:
    print("nagative")

In [ ]:
A=int(input())
if(A>80):
    print("grade A")
elif(A<50):
    print("Ok")
else:
    print("fail")

In [ ]:

for i in range(1,10):
    print(i)

In [ ]:
for i in range(1,21):
    if(i%2!=0):
        print(i)

In [ ]:
for i in range (1,21):
    if(i%2==0):
        print(i)

In [ ]:
for i in range(1,101):
    if(i%5==0):
        print(i)

In [ ]:
for i in range(1,800):
    if(i%20==0):

In [ ]:
a=7
b=8
K=a**2+b**2+2*a*b
print(K)

In [ ]:
def addition(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
addition(1,80)
addition(5,85)
sub(1,67)
sub(1,7)

In [ ]:
a=int(input("enter the number"))
b=int(input("enter the number"))
a,b=b,a
print(a)
print(b)

In [ ]:
a=int(input())
if(a%6>=0):
    print("even")
else:
    print("odd")

In [ ]:
A="hello welcome to my world"
x=A.endswith(".")
print(x)

In [ ]:
A="700"
X=A.zfill(7)
print(X)

In [ ]:
A="my world is small"
B=A.title()
print(B)

In [ ]:
A="My World Is Very Small"
B=A.upper()
print(B)

In [ ]:
A="my world is small"
B=A.swapcase()
print(B)

In [ ]:
A=[1,2,3,4,]
B=A.append(5)
print(A)

In [ ]:
A=[1,2,3,4,'Ramya']
B=A.clear()
print(A)

In [ ]:
A=[1,2,3,5,6]
B=A.copy()
print(A)

In [ ]:
A=[1,2,3,2,1,3,3,3,3]
B=A.count(3)
print(B)

In [ ]:
A=[1,2,3,4]
B=[5,6,7,8]
A.extend(B)
print(A)

In [ ]:
A=[1,8,6,7,9]
B=A.sort()
print(A)

In [ ]:
A=[1,3,4,2,5,6]
B=A.pop(2)
print(A)

In [ ]:
A=[1,2,4,6,7,8]
B=A.remove(4)
print(A)

In [ ]:
A=[1,3,6,5,7,9]
B=A.insert(1,2)
print(A)

In [ ]:
A=[1,2,3,4,5]
B=A.reverse()
print(A)

In [ ]:
A=[1,2,3,4,5]
B=A.index(5)
print(B)

In [ ]:
a=24
if(a > 2):
  print("hhh")
  if(a < 20):
     print("Ramya")
  else:
     print("Chinni")

In [ ]:
age = int(input("Enter your age: "))
student = input("Are you a student? (yes/no): ")

if (age >= 18):
    if student == 'yes':
        print("You are an adult student.")
    else:
        print("You are an adult and not a student.")
else:
    if (student == 'yes'):
        print("You are a minor student.")
    else:
        print("You are a minor and not a student.")

In [ ]:
for i in range(6):
    print(i)

In [ ]:
a=['4','6','2']
for i in a:
    print(i)

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
i=1
while i<11:
    print(i)
    i+=1

In [ ]:
i=1
while i< 10:
    print(i)
    i+=7

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
     print("*",end=" ")
  print()

In [ ]:
R=int(input())
for j in range(1,R+1):
  for i in range(1,j+2):
     print("*",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(1,R+1):
  for j in range(1,i+2):
     print("1",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(R):

     print("*",end=" ")
  print()

In [ ]:
R=6
for i in range(R):
  for j in range(i,R):
    print("$",end=" ")
  print()

In [ ]:
A=int(input())
for i in range(R):
  for j in range(i,R):
    print("🥰",0end=" ")
  for j in range(i+1):
    print("🐒",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(i,R):
    print(" ",end=" ")
  for j in range(i+1):
    print("👑",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(i,R-1):
      print("🎄",end=" ")
  for j in range(i+1):
      print("🎁",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):

  for j in range(i,R-1):
      print("🎁",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(i,R+1):
      print("✨",end=" ")
  for j in range(i):
      print("🎁",end=" ")
  for i in range(i+1):
      print("*",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(i+1):
      print(" ",end=" ")
  for j in range(i,R-1):
      print("🎁",end=" ")
  print()

In [ ]:
R=int(input())
for i in range(R):
  for j in range(i,R+1):
      print(" ",end=" ")
  for j in range(i):
      print("🎁",end=" ")
  for i in range(i+1):
      print("*",end=" ")
  print()

In [ ]:
for x in range(65,70):
   for y in range(65,x+1):
        print(chr(y), end=" ")
   print()

In [ ]:
for x in range(1,10):
  for y in range(1,x+1):
      print(int(x), end=" ")
  print()

In [ ]:
for x in range(65,71):
  for y in range(65,x+1):
      print(chr(x), end=" ")
  print()

In [ ]:

A= int(input())
for i in range(1,11):
   print(A, "*",i,"=",A*i)

In [ ]:
for x in range(1,10):
  for y in range(1,x+1):
      print(int(y), end=" ")
  print()